:root {
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.25rem;
  --xl: 1.75rem;
  --xxl: 2.5rem;
  --3xl: 5rem;
  --orange: #ffa500;
  --blue: #292c97;
  --red: #792020;
  --purple: #632997;
  --light-gray: #212121;
  --light-gray-trans: #21212180;
  --medium-gray: #1b1b1b;
  --dark-gray: #101010;
  --title-blue: #d6ebec;
  --subtitle-blue: #91c0c2;
  --text-gray: #afafaf;
  --globalMargin: 200px;
}

body, html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: clip;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  position: relative;
  z-index: -100;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: var(--xxl);
}

h2 {
  font-size: var(--xl);
}

.inter-300 {
  font-weight: 300;
}

.inter-500 {
  font-weight: 500;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
}

.gray {
  color: var(--text-gray);
}

.orange {
  color: var(--orange);
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.bo-gradient {
  color: var(--blue);
  background-image: -webkit-linear-gradient(120deg, var(--blue) 25%, var(--orange) 82%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.p-small {
  white-space: nowrap;
  font-size: var(--s);
}

.global-margin {
  margin: 0 var(--globalMargin);
}

.nav-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: var(--l);
  color: var(--orange);
}

#nav-sandwich {
  display: none;
}
#nav-sandwich > div {
  width: 100%;
  height: 4px;
  background-color: var(--orange);
  border-radius: 5px;
  transform-origin: left;
  transition: all 0.25s ease-in-out;
}
#nav-sandwich.menu-open #top-bar {
  transform: rotate(45deg);
}
#nav-sandwich.menu-open #middle-bar {
  width: 0;
  opacity: 0;
}
#nav-sandwich.menu-open #bottom-bar {
  transform: rotate(-45deg);
}

#logo-sandwich-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-contact-button {
  transition: max-height 0.5s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: var(--xl);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.nav-links a {
  color: var(--orange);
  text-decoration: none;
  cursor: pointer;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--orange);
  transition: width 0.25s ease-in-out;
}

.nav-container.sticky {
  position: fixed;
  background-color: var(--medium-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: calc(100% - 2 * var(--l));
  top: -100%;
  z-index: 100;
  animation: slideDown 0.3s forwards;
}

@keyframes slideDown {
  to {
    top: 0;
  }
}
@media (max-width: 520px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: var(--m);
    position: static;
    translate: 0 0;
  }
  .nav-links p:hover::after {
    width: 0;
  }
  .nav-container {
    display: block;
    padding: var(--l);
    color: var(--orange);
    text-align: center;
    transition: height 0.5s ease-in-out;
  }
  .nav {
    flex-direction: column;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
  }
  .nav .nav-education {
    margin-top: 20px;
  }
  #nav-sandwich {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  #nav-contact-button {
    margin: var(--m) auto 0 auto;
  }
}
.switch-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--light-gray);
  background-color: var(--light-gray);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.switch-item.selected {
  border: 1px solid var(--orange);
  color: var(--orange);
}
.switch-item.selected > i {
  transform: scale(1.5);
}
.switch-item:hover:not(.selected) {
  background-color: #282828;
  cursor: pointer;
}

.item-type-label {
  padding: var(--s) var(--m);
  position: absolute;
  top: var(--s);
  left: var(--s);
  font-size: var(--s);
  letter-spacing: 1px;
  color: #f8f8f8;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.category-blob-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xs);
}
.category-blob-container > .category-blob {
  color: #f8f8f8;
  border-radius: 40px;
  padding: 8px 12px;
  display: inline-block;
  font-size: var(--s);
  font-weight: 500;
}

.p-button {
  margin-top: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.p-button:hover:not(:focus) {
  background-color: transparent;
  color: #ffa500;
}

.tech-name {
  position: absolute;
  bottom: 8px;
  left: 50%;
  translate: -50% 0;
  padding: var(--xxs) var(--xs);
  background-color: var(--medium-gray);
  border-radius: 10px;
  pointer-events: none;
}

.img-holder {
  display: flex;
  justify-content: center;
  position: relative;
}

.decorator-square {
  width: 20px;
  height: 20px;
  border: 1px solid var(--orange);
  position: absolute;
  z-index: -1;
}
.decorator-square.top {
  top: 0;
}
.decorator-square.left {
  left: 0;
}
.decorator-square.right {
  right: 0;
}
.decorator-square.bottom {
  bottom: 0;
}

#decorative-line {
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
  transition: background-color 0.3s ease-in-out;
}
#decorative-line.grey {
  background-color: #898989;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  padding: var(--l) 200px;
  color: black;
  gap: var(--m);
}

.methods-container {
  display: flex;
  align-items: center;
  gap: var(--m);
  font-weight: 500;
}

.email-method {
  padding: var(--s) var(--m);
  background-color: #e09100;
  font-size: var(--l);
  position: relative;
}
.email-method i, .email-method a {
  cursor: pointer;
}

#copied-text {
  position: absolute;
  top: -100%;
  left: 100%;
  translate: -100% 0;
  padding: var(--xs) var(--s);
  margin: var(--m);
  font-size: var(--s);
  background-color: var(--medium-gray);
  color: var(--text-gray);
  opacity: 0;
}

.i-method {
  font-size: var(--xxl);
  margin-top: auto;
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  :root {
    --globalMargin: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .contact-container {
    padding: var(--l) 50px;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --globalMargin: 40px;
  }
}
@media screen and (max-width: 700px) {
  .contact-container h2 {
    font-size: var(--l);
  }
  .methods-container p {
    font-size: var(--m);
  }
  .methods-container i {
    font-size: var(--xl);
  }
}
@media screen and (max-width: 600px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-container #decorative-line {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .decorator-square {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  :root {
    --globalMargin: 20px;
  }
}
@media screen and (max-width: 400px) {
  .methods-container {
    flex-direction: column;
  }
  .methods-container i {
    font-size: var(--xxl);
  }
}
.fixed-nav-master {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-container {
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero {
  position: relative;
}

.hero-image {
  width: 100vw;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-gradient {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(black 0%, transparent 20%, transparent 80%, black 100%);
}

.selection-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--m);
}
.selection-container .line-text-container {
  display: flex;
  gap: var(--s);
  flex: 1 1 auto;
  margin-right: var(--s);
}
.selection-container .line-text-container .line {
  background-color: var(--light-gray);
  height: 3px;
  margin-top: auto;
  margin-bottom: 4px;
  width: 100%;
}
.selection-container .line-text-container .text {
  color: #999999;
  white-space: nowrap;
  font-size: var(--s);
  pointer-events: none;
}

#site-app-swiper .swiper-slide {
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
}

#projects-swiper {
  cursor: pointer;
}

.swiper-container {
  overflow-x: clip;
}

.swiper-slide {
  background-color: var(--light-gray);
  overflow-y: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.tech-logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--m);
}
.tech-logos-container .img-holder {
  border: 1px solid transparent;
}
.tech-logos-container img {
  height: 70px;
  background-color: var(--medium-gray);
  padding: 10px;
  aspect-ratio: 1/1;
}

.tech-name {
  background-color: var(--dark-gray);
}

.yp-gradient {
  color: var(--yellow);
  background-image: -webkit-linear-gradient(175deg, rgb(235, 196, 52) 25%, rgb(194, 46, 255) 82%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.mini-details-container {
  display: flex;
  justify-content: space-between;
}

.swiper-slide .mini-details-container {
  width: 100%;
}

.tech-logos-master {
  display: flex;
  flex: 1;
  gap: var(--s);
  align-items: center;
  position: relative;
}

.case-study-details {
  display: flex;
  gap: var(--m);
}

.case-study-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 250px;
  flex: 1 1 25%;
}
.case-study-detail .detail-text {
  padding-top: 8px;
  color: #dadada;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--m);
  padding: var(--m);
  background-color: var(--medium-gray);
}

.gallery-img {
  padding: 4px;
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}
.gallery-img:hover {
  border: 1px solid var(--orange);
}
.gallery-img img {
  width: 100%;
  min-width: 200px;
  border-radius: 4px;
}

#gallery-img-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  will-change: backdrop-filter;
}
#gallery-img-overlay #selected-img-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.background-div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  position: absolute;
  filter: blur(6px) brightness(0.95);
  transition: filter 0.2s ease-in-out;
}
.background-div:hover {
  filter: blur(6px) brightness(0.8);
}

.inner-background {
  width: 35%;
  z-index: 1;
  pointer-events: none;
}
.inner-background img {
  width: 100%;
}

.secondary.item-type-label {
  padding: var(--s) 0;
  top: calc(3 * var(--m));
  font-size: 0.6rem;
  z-index: 3;
}
.secondary.item-type-label i {
  font-size: var(--l);
  vertical-align: middle;
  margin-right: 8px;
}

.absolute.category-blob-container {
  position: absolute;
  bottom: var(--s);
  left: var(--s);
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 1015px) {
  .case-study-details {
    flex-direction: column;
  }
  .inner-background {
    width: 50%;
  }
}
@media screen and (max-width: 770px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .mini-details-container {
    flex-direction: column;
    gap: var(--m);
  }
}
@media screen and (max-width: 550px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  #decorative-line {
    display: none;
  }
  .switch-item {
    width: 50px;
    height: 50px;
  }
  .inner-background {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .tech-logos-container img {
    height: 50px;
  }
  .tech-name {
    font-size: var(--xs);
    bottom: 2px;
  }
}/*# sourceMappingURL=case_study.css.map */