:root {
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.25rem;
  --xl: 1.75rem;
  --xxl: 2.5rem;
  --3xl: 5rem;


  --orange: #ffa500;
  --blue: #292c97;
  --red: #792020;
  --purple: #632997;

  --light-gray: #212121; --light-gray-trans: #21212180;
  --medium-gray: #1b1b1b;
  --dark-gray: #101010;

  --title-blue: #d6ebec;
  --subtitle-blue: #91c0c2;
  --text-gray: #afafaf;

  --globalMargin: 200px;
}

body, html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  overflow-x: clip;

  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  position: relative;
  z-index: -100;

  display: flex;
  flex-direction: column;

  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: var(--xxl);
}
h2 {
  font-size: var(--xl);
}

.inter-300 {
  font-weight: 300;
}
.inter-500 {
  font-weight: 500;
}


.red { background-color: var(--red); }
.blue { background-color: var(--blue); }
.purple { background-color: var(--purple); }

.d-flex { display: flex;}
.d-none { display: none !important; }

.bo-gradient {
  color: var(--blue); background-image: -webkit-linear-gradient(120deg, var(--blue) 25%, var(--orange) 82%); background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-text-fill-color: transparent;
}

.p-small-grey {
  color: var(--text-gray); 
  white-space: nowrap;
  font-size: var(--s);
}

.global-margin {
  margin: 0 var(--globalMargin);
}


// spacing 4 8 12 16 20 28 40 60 100 160 240

// nav


.nav-container {
  display: flex; 
  align-items: center; 
  position: relative;
  justify-content: space-between; 
  padding: var(--l);  
  color: var(--orange);
}

#nav-sandwich {
  display: none;

  & > div {
      width: 100%; 
      height: 4px; 
      background-color: var(--orange); 
      border-radius: 5px;
      transform-origin: left;
      transition: all 0.25s ease-in-out;
  }   

  &.menu-open #top-bar { transform: rotate(45deg); }
  &.menu-open #middle-bar { width: 0; opacity: 0; }
  &.menu-open #bottom-bar { transform: rotate(-45deg); }
}

#logo-sandwich-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

#nav-contact-button {
  transition: max-height 0.5s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-links {
  display:flex; 
  gap: var(--xl); 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  translate: -50% -50%;

  & a { color: var(--orange); text-decoration: none; cursor: pointer; }
  & a:hover::after { width: 100%; }
  & a::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: var(--orange);
      transition: width 0.25s ease-in-out;
  }
}

.nav-container.sticky {
  position: fixed;
  background-color: var(--medium-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width:calc(100% - 2*var(--l));;
  top: -100%;
  z-index: 100;
  animation: slideDown 0.3s forwards;
}
@keyframes slideDown {
  to { top: 0; }
}
@media (max-width: 520px) {
  .nav-links {
      display: flex;
      flex-direction: column; 
      gap: var(--m);
      position: static; 
      translate: 0 0;

      & p:hover::after { width: 0; }
  }

  .nav-container {
    display: block;
    padding: var(--l);  color: var(--orange);
    text-align: center;
    transition: height 0.5s ease-in-out;
  }

  .nav {
    flex-direction: column;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;

    & .nav-education { margin-top: 20px; }
  }

  #nav-sandwich {
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
      align-items: center; 
      width: 30px; 
      height: 25px;
      cursor: pointer;
  }

  #nav-contact-button { margin: var(--m) auto 0 auto; }
}

//--- swiper

.switch-item {
  display: flex; 
  justify-content: center; 
  align-items: center;  
  width: 60px; 
  height: 60px; 
  border: 1px solid var(--light-gray); 
  background-color: var(--light-gray); 
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;


  &.selected {
      border: 1px solid var(--orange); 
      color: var(--orange);

      & > i { transform: scale(1.5); }
  }

  &:hover:not(.selected) {
      background-color: #282828;
      cursor: pointer;
  }
}


//--- 


.p-button {
  margin-top: auto; 
  width: fit-content;
  padding: 8px 12px;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover:not(:focus) {
      background-color: transparent;
      color: #ffa500;
  }
}

.tech-name {
  position: absolute; 
  bottom: 8px; 
  left: 50%; 
  translate: -50% 0; 
  padding: var(--xxs) var(--xs); 
  background-color: var(--medium-gray); 
  border-radius: 10px;
  pointer-events: none; 
}

.img-holder {
  display: flex; 
  justify-content: center; 
  position: relative;
}

// decoration

.decorator-square {
  width: 20px; 
  height: 20px; 
  border: 1px solid var(--orange); 
  position: absolute; 
  z-index: -1;

  &.top { top: 0; }
  &.left { left: 0; }
  &.right { right: 0; }
  &.bottom { bottom: 0; }
}

#decorative-line {
  width: 100%;
  height: 1px; 
  background-color: var(--dark-gray); 
  transition: background-color 0.3s ease-in-out;

  &.grey { background-color: #898989; }
}

// footer

.contact-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: var(--orange); 
  padding: var(--l) 200px; 
  color: black;
  gap: var(--m);
}

.methods-container {
  display: flex; 
  align-items: center; 
  gap: var(--m);
  font-weight: 500;
}

.email-method {
  padding: var(--s) var(--m); 
  background-color: #e09100; 
  font-size: var(--l);
  position: relative;
  
  & i, & a {
      cursor: pointer;
  }
}

#copied-text {
  position: absolute; 
  top: -100%; 
  left: 100%; 
  translate: -100% 0; 
  padding: var(--xs) var(--s); 
  margin: var(--m); 
  font-size: var(--s);  
  background-color: var(--medium-gray); 
  color: var(--text-gray); 
  opacity: 0;
}

.i-method {
  font-size: var(--xxl); 
  margin-top: auto;
  cursor: pointer;
}


@media screen and (max-width: 1220px) {
  :root { --globalMargin: 100px; }
}

@media screen and (max-width: 1000px) {
  .contact-container { padding: var(--l) 50px; }
}

@media screen and (max-width: 900px) {
  :root { --globalMargin: 40px; }
}

@media screen and (max-width: 700px) {
  .contact-container h2 { font-size: var(--l); }
  .methods-container p { font-size: var(--m); }
  .methods-container i { font-size: var(--xl); }

}

@media screen and (max-width: 600px) {
  .contact-container {
      flex-direction: column;

      & #decorative-line { display: none; }
  }
}

@media screen and (max-width: 420px) {
  :root { --globalMargin: 20px; }
}


@media screen and (max-width: 400px) {
  .methods-container {
    flex-direction: column;

    & i { font-size: var(--xxl); }
  }
}


