//overriding classes here...

@import 'variables';
@import '../bootstrap-5.3.3/scss/bootstrap';

body, html {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    transition: overflow 1s;
    // overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBDE;
}

.btn.btn-primary {
    background-color: $btn-color;
    border: none;

    &:hover {
        background-color: darken($btn-color, 10%);
    }

    &:active { // button press
        background-color: darken($btn-color, 30%) !important; // without important, wont work unless specificity added to .btn.btn-primary (+ .centered-button)
    }
}


#anim-heading {
    display: inline;
}
.gradient-heading {
    font-size: 100px;
    color: #61dd96; background-image: -webkit-linear-gradient(135deg, #61dd96 40%, #7e7cd6); background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-text-fill-color: transparent;    
}   
.animated-letter {
    display: inline-block;
}

@keyframes textBiggerSmallerAnim {
    0% { transform: scale(1) rotate(0deg); } 
    20% { transform: scale(1.05) rotate(-2deg); }
    40% { transform: scale(0.95) rotate(2deg); }
    60% { transform: scale(1.05) rotate(2deg); }
    80% { transform: scale(0.95) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
}
.animated-text {
    display: inline-block; // so that animation doesnt affect other elements
    animation: textBiggerSmallerAnim 1s ease-in-out;
}



.gradual-underline {
    position: relative;
    display: inline-block;
}
.gradual-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 6px;
    background-color: #000; 
    bottom: 0;
    left: 0;
    animation: underlineAppear 2s ease forwards;
}
@keyframes underlineAppear {
    0% {
        width: 0;
    }
    40% {
        width: 100%;
        left: 0; 
    }
    60% {
        width: 100%; 
        left: 0; 
    }
    100% {
        width: 0; 
        left: 100%; 
    }
}
 




.menu-item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all .35s ease;

    &::after { // hover effect gradient underline
        content: ""; 
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #61dd96 , #7e7cd6);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   
}

.hover-underline:hover .menu-item::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}   


.bg-svg {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}
.rotating-svg {
    animation: expand 2s forwards, always-rotate 60s linear infinite;
}
#top-left-bg-svg {
    top: -250px;
    left: -400px;
}
#top-right-bg-svg {
    top: -250px;
    right: -400px;
}
@keyframes always-rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }  
}
@keyframes expand {
    to { width: 800px; height: 800px; }
}



#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #f0f0f0;
}
#progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0;
    transition: width 0.7s ease;
}
@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
.move-up {
    animation: moveUp 0.5s ease-out forwards;
}








.heading-master-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: height 0.75s ease-in-out;
    position: relative;

}







// chrome, safari and edge
::-webkit-scrollbar {
    transform: translateX(30px); // gonna have to make my own scrollbar because regular one just snaps into place
    width: 5px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #7e7cd6;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: #ddd;
}



.opacity-none {
    opacity: 0;
}
.slide-in-from-left {
    animation: slideInToRight 1s ease;
}
@keyframes slideInToRight {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-in-from-right {
    animation: slideInToLeft 1s ease;
}
@keyframes slideInToLeft {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}





.image-button {
    background: none;
    border: none; 
    padding: 0; 
    cursor: pointer;
}

.image-button img {
    width: 100%;
    height: auto;
    display: block;
}


.shadow-card {
    display: inline-block; //wrap text
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: height 0.5s ease-in-out, padding 0.5s linear;
}


#menu-container {
    flex-grow: 1; // menu-container takes remaining space
    position: relative; // for nav bar bars
}

.bar::after {
    content: "";
    height: var(--bar-height, 0); // custom variable used in JS!! Wow!
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: grey;
    border-radius: 5px;
    opacity: 0.75;
    animation: always-color 2s linear infinite;
    transition: height 0.2s ease-out;
}
@keyframes always-color {
    0% {
      background: #61dd96;
    }
    50% {
      background: #7e7cd6;
    }
    100% {
      background: #61dd96;
    }
}



#logo {
    text-decoration: none;
    font-size: 0;
    color: black;
    transition: font-size 0.5s ease-out;
    & span#M {
        // transform-origin: center;
        display: inline-block;
        // transform: rotateY(50deg);
    }
    // color: black;
    // mix-blend-mode: screen;
    // color: #61dd96; background-image: -webkit-linear-gradient(135deg, #61dd96 40%, #7e7cd6); background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-text-fill-color: transparent;    
}
#nav-menu-sandwich {
    display: none;
}

.nav-menu-item-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;

    & li a {
        font-size: 0;
        text-decoration: none;
        color: #000;
        transition: font-size 0.2s ease-out; 
        &:hover {
            color: #61dd96;
        }
    }
}


@media (max-width: 767px) {
    #logo-container {
        align-self: flex-start;
    }
    #logo {
        padding-left: 10px;
        font-size: 50px;
    }
    #nav-menu-sandwich {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 5px 0 0;
        display: inline-block;
    }
    #menu-container {
        display: block;
        width: 100%;
    }
    .bar {
        display: none;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        padding: 0;
        transition: height 0.5s ease-in-out, padding 0.5s linear;
    }

    .nav-menu-item-list {
        flex-direction: column;
        margin: 0;
        padding: 0 0 0 10px;
        transition: height 0.5s ease-in-out;

        & li {
            padding: 5px 0 5px 0;
            font-size: 20px;
            display: block;
            // background-color: #F8F8F8;
            // border-top: 1px solid #ECECEC;
            width: 100%;
        }
    }
}