//overriding classes here...

@import 'variables';
@import '../bootstrap-5.3.3/scss/bootstrap';

body, html {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    transition: overflow 1s;
    overflow: hidden;

}


.btn.btn-primary {
    background-color: $btn-color;
    border: none;

    &:hover {
        background-color: darken($btn-color, 10%);
    }

    &:active { // button press
        background-color: darken($btn-color, 30%) !important; // without important, wont work unless specificity added to .btn.btn-primary (+ .centered-button)
    }
}


#anim-heading {
    display: inline;
}
.center-heading {
    font-size: 100px;
}
.gradient-heading {
    font-size: 100px;
    color: #61dd96; background-image: -webkit-linear-gradient(135deg, #61dd96 40%, #7e7cd6); background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-text-fill-color: transparent;    
}   
.animated-letter {
    display: inline-block;
}

@keyframes textBiggerSmallerAnim {
    0% { transform: scale(1) rotate(0deg); } 
    20% { transform: scale(1.05) rotate(-2deg); }
    40% { transform: scale(0.95) rotate(2deg); }
    60% { transform: scale(1.05) rotate(2deg); }
    80% { transform: scale(0.95) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
}
.animated-text {
    display: inline-block; // so that animation doesnt affect other elements
    animation: textBiggerSmallerAnim 1s ease-in-out;
}



.gradual-underline {
    position: relative;
    display: inline-block;
}
.gradual-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 6px;
    background-color: #000; 
    bottom: 0;
    left: 0;
    animation: underlineAppear 2s ease forwards;
}
@keyframes underlineAppear {
    0% {
        width: 0;
    }
    40% {
        width: 100%;
        left: 0; 
    }
    60% {
        width: 100%; 
        left: 0; 
    }
    100% {
        width: 0; 
        left: 100%; 
    }
}
  



.bg-svg {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}
.rotating-svg {
    animation: expand 2s forwards, always-rotate 60s linear infinite;
}
#top-left-bg-svg {
    top: -250px;
    left: -400px;
}
#top-right-bg-svg {
    top: -250px;
    right: -400px;
}
@keyframes always-rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }  
}
@keyframes expand {
    to { width: 800px; height: 800px; }
}



#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #f0f0f0;
}
#progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0;
    transition: width 0.7s ease;
}
@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
.move-up {
    animation: moveUp 0.5s ease-out forwards;
}











.heading-master-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: height 1s ease-in-out;
}







// chrome, safari and edge
::-webkit-scrollbar {
    transform: translateX(30px); // gonna have to make my own scrollbar because regular one just snaps into place
    width: 5px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #7e7cd6;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: #ddd;
}



.opacity-none {
    opacity: 0;
}
.slide-in-from-left {
    animation: slideInToRight 1s ease;
}
@keyframes slideInToRight {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}




.heading-container {
    // display: inline-block;
    position: relative;
}
.hello-container {
    position: absolute;
    top: 100%; // postion below heading
    left: 0; // position at x=heading-start
}
